/* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    color: white;
    padding: 0 100px;
  }
  
  .logo-img {
    width: 80px;
    height: auto;
    margin-right: 30px;
  }

  @font-face {
    font-family: 'Parkinsans';
    src: url('../public/fonts/Parkinsans-Medium.ttf') format('truetype');
    font-style: normal;
  }

  .name {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 2em;
    font-family: 'Parkinsans', sans-serif;
  }
  
  .menu {
    display: flex;
    font-size: 1em;
    align-items: center; /* Vertically center the menu items */
    margin-left: auto;
  }

  .menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }

  .name-link {
    text-decoration: none; /* Remove hyperlink appearance */
    color: inherit; /* Inherit the default text color */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
  }

  .name-part {
    transition: color 0.3s ease; /* Smooth transition for hover effect */
  }

  .mitchell:hover {
    color: pink; /* Change text color to pink on hover */
  }

  .horn:hover {
    color: #89CFF0; /* Change text color to bright baby blue on hover */
  }

  .menu-item {
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
    cursor: pointer;
  }

  .menu-item:hover {
    color: #89CFF0;
    text-decoration: line-through; /* Strikethrough effect */
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #575757;
  }
  